<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<!--                       CSS                       -->
<link rel="shortcut icon" href="__ROOT__/Application/Admin/Common/Resources/images/icons/weblogo.jpg" />
<!-- Reset Stylesheet -->
<link rel="stylesheet" href="__ROOT__/Application/Admin/Common/Resources/css/reset.css" type="text/css" media="screen" />
<!-- Main Stylesheet -->
<link rel="stylesheet" href="__ROOT__/Application/Admin/Common/Resources/css/style.css" type="text/css" media="screen" />
<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
<link rel="stylesheet" href="__ROOT__/Application/Admin/Common/Resources/css/invalid.css" type="text/css" media="screen" />
<!--                       Javascripts                       -->
<!-- jQuery -->
<script type="text/javascript" src="__ROOT__/Application/Admin/Common/Resources/scripts/jquery-1.3.2.min.js"></script>
<!-- jQuery Configuration -->
<script type="text/javascript" src="__ROOT__/Application/Admin/Common/Resources/scripts/simpla.jquery.configuration.js"></script>
<!-- Facebox jQuery Plugin -->
<script type="text/javascript" src="__ROOT__/Application/Admin/Common/Resources/scripts/facebox.js"></script>
<!-- jQuery WYSIWYG Plugin -->
<script type="text/javascript" src="__ROOT__/Application/Admin/Common/Resources/scripts/jquery.wysiwyg.js"></script>
<!-- jQuery Datepicker Plugin -->
<script type="text/javascript" src="__ROOT__/Application/Admin/Common/Resources/scripts/jquery.datePicker.js"></script>
<script type="text/javascript" src="__ROOT__/Application/Admin/Common/Resources/scripts/jquery.date.js"></script>
</head>
<body>
<div id="body-wrapper">
  <!-- Wrapper for the radial gradient background -->
<include file="Public:leftside"/>
  <div id="main-content">
    <!-- Main Content Section with everything -->
    <noscript>
    <!-- Show a notification if the user has disabled javascript -->
    <div class="notification error png_bg">
      <div> Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
        Download From <a href="http://www.exet.tk">exet.tk</a></div>
    </div>
    </noscript>
    <!-- Page Head -->
    <h2>销售员管理</h2>
    <p id="page-intro">What would you like to do?</p>
    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>修改销售员信息</h3>
      
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <!-- This is the target div. id must match the href of this div's tab -->
        <form action="<{:U('modify')}>" method="post" >
          <p>
              <strong>账号名称：</strong>
               <input class="text-input" type="hidden"  name="username" value="<{$user.user_name}>"/>
              <{$user.user_name}>
          </p>
          <div class="clear"></div>
            <p>
              <strong>所属门店：</strong>
             <select name="shop_name" autofocus>
         		<volist name="shop" id="vo">
         			<if condition="$vo.shop_name eq $user.user_shop_name "><option value="<{$vo.shop_name}>"selected="selected"><{$vo.shop_name}></option>
					
					<else /> <option value="<{$vo.shop_name}>"><{$vo.shop_name}></option>
					</if>
         			
        		</volist>      
        </select>
          </p>
          <div class="clear"></div>
            <p>
              <strong>修改密码：</strong>
              <input class="text-input" type="password"  name="password" placeholder="若不修改密码，无需填写"/>
          </p>
          <div class="clear"></div>
            <p>
              <strong>再次输入：</strong>
              <input class="text-input" type="password"  name="notpassword" placeholder="若不修改密码，无需填写"/>
          </p>
          <div class="clear"></div>
            <p >
            <input class="button-register" type="submit" value="修 改" />
            </p>
        </form>
        </div>
        <!-- End #tab1 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
    
   
    <!-- End .content-box -->
    <div class="clear"></div>
    <!-- End Notifications -->
    <div id="footer"> <small>
      <!-- Remove this notice or replace it with whatever you want -->
      &#169; Copyright 2016 Your Company | <a href="#">联系我们</a> | <a href="#">Top</a> </small> </div>
    <!-- End #footer -->
  </div>
  <!-- End #main-content -->
</div>
</body>
<!-- Download From www.exet.tk-->
</html>
